@import '~bootstrap/scss/bootstrap';
@import 'fonts';

body {
  overflow-x: hidden;
  font-family: 'Montserrat', 'Lato', sans-serif;
}

table.table thead th {
  border-top: 0!important;
}

.navbar {
  small {
    color: white;
  }
}

#app {
  background: #e9f9f2;
}

.container {
  background: white;
}

#page-content-wrapper {
  min-width: 100vw;
}

.fan-status {
  height: 16px;
  width: 16px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled {
    #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
}