@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import 'fonts';

html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', 'Lato', sans-serif;
  background: $brand;
}

table.table thead th {
  border-top: 0!important;
}

.navbar {
  small {
    color: white;
  }
}

#app {
  background: $brand;
}

.border-radius-5 {
  border-radius: 5px;
}

.chart-legend {
  font-size: 1.5rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

.fan-status {
  height: 16px;
  width: 16px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}