@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import "~xterm/css/xterm.css";
@import 'fonts';

html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', 'Lato', sans-serif;
  background: $brand;
}

table.table thead th {
  border-top: 0!important;
}

input.form-control {
  border: none;
  background: transparent;
  border-bottom: 1px solid #999999;
  border-radius: 0;
  border-width: thin;
}

.navbar {
  small {
    color: white;
  }
}

#app {
  background: $brand;
}

.submitting {
  background: url("/assets/loading-light.gif");
}

#app.login-overlay {
  background: url("/assets/pi.jpg") no-repeat;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(100,100,100,.5);
  }

  .login {
    background: #1e1e1e;
    color: #eeeeee;
    h1,h2 {
      margin: 0;
    }
    .text-muted {
      color: #eeeeee !important;
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);

  .nav-link {
    font-weight: 500;
    color: #333;
  }

  .nav-item .nav-link {
    &:hover {
      color: #6c757d;
    }
  }
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.sidebar-sticky {
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.border-radius-5 {
  border-radius: 5px;
}

.chart-legend {
  font-size: 1.5rem;
}

.header-decor {
  font-size: 1rem;
}

.card-icon {
  font-size: 3rem;
  color: #f5f5f5;
}

#page-content-wrapper {
  min-width: 100vw;
}

.fan-status {
  height: 16px;
  width: 16px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.xterm_display {
  background-color: black;
  overflow-y: hidden !important;
}

.file-control {
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  padding-left: 0;
}

.loading {
  display: none;
}

.hidden {
  display: none;
}

.bg-black {
  background-color: black;
}